@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }

  .shadow-card {
    box-shadow: 0 0px 12px rgba(117, 131, 255, 0.25);
}
  .tech-stack-shadow-card {
    box-shadow: 0 0px 6px rgba(117, 131, 255, 0.15);
}
}
